<template>
  <div>
    <md-table
      v-model="dataFilter"
      :table-header-color="tableHeaderColor"
      md-card
    >
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item }"
        md-selectable="single"
      >
        <md-table-cell
          v-for="field in fields"
          :md-label="field.label"
          :key="field.slug"
          >{{ item[`${field.slug}`] }}</md-table-cell
        >
        <md-table-cell>
          <md-button
            class="md-just-icon md-simple md-primary"
            @click="methodUpdate(endpoint, item)"
          >
            <md-icon>{{ infoUpdate.icon }}</md-icon>
            <md-tooltip md-direction="top">{{ infoUpdate.title }}</md-tooltip>
          </md-button>
          <md-button
            class="md-just-icon md-simple md-danger"
            @click="methodDelete(item)"
          >
            <md-icon>close</md-icon>
            <md-tooltip md-direction="top">Excluir</md-tooltip>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  name: "simple-table",
  props: {
    dataFilter: {},
    fields: Array,
    methodDelete: Function,
    methodUpdate: Function,
    endpoint: String,
    tableHeaderColor: {
      type: String,
      default: "",
    },
    infoUpdate: {
      type: Object,
      default() {
        return {
          title: "Editar",
          icon: "edit",
        };
      },
    },
  },
  data: () => ({
    searched: [],
    selected: {},
    value: "I am the child.",
  }),
  methods: {
    onSelect(item) {
      this.method();
      this.selected = item;
    },
    onEmit() {
      this.$emit("send-message", this.value);
    },
  },
};
</script>
<style>
.md-layout-item.md-size-66 {
  width: 100%;
  min-width: 100% !important;
}
</style>
